@using DailySpin.ViewModel.ViewModels;
@model List<BetsGlassViewModel>

@{
    ViewData["Title"] = "Glasses Page";
}

<div>
    <form  method="post" asp-controller="BetsGlass" asp-action="PlaceBet">
        <div>
            <p>
                <div class="form-group">
                    <input placeholder="Bet" class="form-control textbox-dg font-weight-bold text-center" type="number" name="bet">
                </div>
            </p>
        </div>
        @foreach (var glass in Model)
        {
            <p>
                <!-- Here I tried to send correctly color, but smth wrong... P.S. Any button send only Green color -->
                <button data="@glass.ColorType" name="glassColor" class="betglass btn btn-link border-0">
                    <img class="user-avatar" src="@string.Format("data:image/png;base64, {0}", Convert.ToBase64String(glass.GlassImage))"/> PLACE BET     WIN x @glass.BetMultiply
                </button>
            
            </p>
            <p>
                @foreach (var bet in glass.Bets)
                {
                    <p>
                        <img class="user-avatar" src="@string.Format("data:image/png;base64, {0}", Convert.ToBase64String(bet.UserImage))"/>
                        @bet.UserName -> 
                        @bet.UserBet
                    </p>
                }
            </p>
        }
    </form>
</div>
